[submodule ".config/nvim"]
    path = .config/nvim
    url = https://github.com/Cannafox/fox-neovim-config.git
[submodule ".config/fish"]
	path = .config/fish
	url = https://github.com/gklodfox/fox-fish-config.git
[submodule ".config/i3"]
	path = .config/i3
	url = https://github.com/gklodfox/fox-i3-config.git
[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/gklodfox/fox-tmux-config.git
[submodule ".config/piconm"]
    path = .config/picom
    url = https://github.com/gklodfox/fox-picom-config.git
[submodule ".config/picom"]
	path = .config/picom
	url = https://github.com/gklodfox/fox-picom-config.git
